*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(202, 224, 241);
    color:rgb(2, 2, 43);
  font-family: "Libre Franklin", sans-serif;
  
}
.content{
    width: 1450px;
    background-color:rgb(227, 236, 244);
    margin: 0px auto;
    /* height: 90vh; */
    /* margin: 20px 40px; */
    margin-top: 50px;
}
.body h1{
    font-size: 100px;
}
.navbar{
    display: flex;
    justify-content: space-around;
  padding:20px 10px ;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px;
}
.left{
    font-size: 25px;
}
.navbar li{
    list-style: none;
}
.middle span{
    margin: 0px 20px;
}
.middle span a{
    text-decoration: none;
    color: rgb(2, 2, 43);
    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
    border: 1px solid rgb(227, 236, 244) ;
    padding: 10px;
border-radius: 10px;
}
.middle span a:hover{
border: 1px solid red;
padding: 10px;
border-radius: 10px;
}
.signup{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    color: rgb(2, 2, 43);
    cursor: pointer;
}
.body{
   text-align: center;
margin: 50px;
animation-name: body;
animation-duration: 2s;
/* animation-timing-function: ease-in-out;
animation-direction: alternate-reverse; */
}
@keyframes body{
    from{
        transform: scale(0.1);
    }
}
.boxes{
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.box{
    background-color: transparent;
    width: 400px;
    text-align: center;
height: 450px;
border-radius: 20px;
box-shadow: 10px 10px 50px rgb(202, 224, 241);
margin: 0px 10px;
margin-bottom: 30px;
border: 1px solid rgb(202, 224, 241);
padding: 10px 0px;
transition-property: transform;
transition-duration: 0.5s;
}
.box:hover{
    transform: scale(1.1);
}
.box1{
    line-height: 40px;
}
.box2{
padding: 10px 10px;
}
.box2 p{
    margin-top: 10px;
    font-size: 25px;
}
.logo1{
    margin: 40px 10px;
    
}
.logo1 span{
    margin: 10px;
    
}
.logo1 span img{
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.uber{
    border: 2px solid red;
}
.logo2{
    margin-top: 0px;
}
.logo2 span{
    margin:0px 45px;
    
}
.logo2 span img{
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes logo{
    from{
        transform: scale(0.8);
    }
}
.download{
    margin-top: 50px;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    background-color: rgb(2, 2, 43);
    color: rgb(227, 236, 244);
    cursor: pointer;
}
.box3 p{
    background-color: rgb(213, 228, 239);
    /* margin: 20px; */
    width: fit-content;
    height: 50px;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
}
.p1{
    position: relative;
    left: 200px;
    z-index: 1;
}
.p2{
    position: relative;
    left: 175px;
    top: -20px;
    z-index: 2;
}
.p3{
    position: relative;
    left: 150px;
    top: -30px;
    z-index: 3;
}
.box3 h4{
    margin-top: 120px ;
}
.signup , .download{
    transition-property: transform;
    transition-duration: 0.5s;
}
.signup:hover,.download:hover{
    transform: scale(1.1);
}